@{
    ViewBag.Title = "Crear Paquete";
}

<h2>Seleccionar Paquete</h2>

<form class="formCrearPaquete" action='@Url.Action("GuardarPaquete", "Home")'>
    <div>
        <label for="destino">Destino:</label>
        <select id="destino" name="Destino">
            @foreach (var destino in ViewBag.ListaDestinos)
            {
                <option value="@destino">@destino</option>
            }
        </select>
    </div>
    
    <div>
        <label for="hotel">Hotel:</label>
        <select id="hotel" name="Hotel">
            @foreach (var hotel in ViewBag.ListaHoteles)
            {
                <option value="@hotel">@hotel</option>
            }
        </select>
    </div>
    
    <div>
        <label for="aereo">Aéreo:</label>
        <select id="aereo" name="Aereo">
            @foreach (var aereo in ViewBag.ListaAereos)
            {
                <option value="@aereo">@aereo</option>
            }
        </select>
    </div>
    
    <div>
        <label for="excursion">Excursión:</label>
        <select id="excursion" name="Excursion">
            @foreach (var excursion in ViewBag.ListaExcursiones)
            {
                <option value="@excursion">@excursion</option>
            }
        </select>
    </div>
    
    <button type="submit">Seleccionar Paquete</button>
</form>